.about-page {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.about-page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--foreground);
}

.about-page p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--subcolor);
}

@media (prefers-color-scheme: dark) {
  .about-page {
    background-color: #1e2527;
  }

  .about-page h1,
  .about-page p {
    color: #ededed;
  }
}

